body{
    background-image: linear-gradient(to right top, #348feb, #4634eb, #9b34eb, #504aff, #5c9aff);
    font-family: 'Amatic SC', cursive;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    background: linear-gradient(#4634eb 0%, #9b34eb 100%);
}
.note{
    font-size: 15px;
    color: white;
}

.copyright_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background: linear-gradient(#4634eb 0%, #9b34eb 100%);
    line-height: 3;
    text-align: center;
}
canvas{
    border-radius: 20px;
    border: 5px solid;
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
   0%{
       box-shadow: 5px 5px 5px #3b6ead;
       border: 5px solid #348feb;
       
   }
   25%{
    box-shadow: 5px 5px 5px #3b3bad;
    border: 5px solid #4634eb;
    
   }
   50%{
    box-shadow: 5px 5px 5px #7e3bad;
    border: 5px solid #9b34eb;
    
    }
    75%{
    box-shadow: 5px 5px 5px #413bad;
    border: 5px solid #504aff;
    
    }
    100%{
    box-shadow: 5px 5px 5px #3b6dad;
    border: 5px solid #5c9aff;
    
    }



}